Source: networktablet
Section: unknown
Priority: optional
Maintainer: Jarrad Whitaker <jarrad.whitaker@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://github.com/rfc2822/GfxTablet
Vcs-Git: git://github.com/rfc2822/GfxTablet
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/networktablet.git;a=summary

Package: networktablet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fake graphics tablet
 Networktablet is a program that creates a fake graphics tablet
 on your PC. This device receives events over a network from a
 suitable client, and translates those network events into input
 events. One such client is GfxTablet, available for Android
 devices.
